<%= content %>

<% if (icon) { %>
  <i class="mi StoryLink__icon <%= state %>"><%= icon %></i>
<% } else if (state != 'unscheduled') { %>
  <span class="StoryLink__icon <%= state %>"></span>

  <% if (state == 'delivered') { %>
    <span class="StoryLink__icon <%= state %> aux"></span>
  <% } %>
<% } %>
